<div class="container">
  <div class="wrapper">
    <div class="text-center">
      <h1>Modifiez <%= @oeuvre.nom %></h1>
      <%= simple_form_for(@oeuvre, url: dashboard_path, html: { class: "custom-form" }) do |f| %>
        <div class="flex mx-1">
          <%= f.label :nom, class: "w-150" %>
          <%= f.text_field :nom, class: "flex-item-1"%>
        </div>
        <div class="flex mx-1">
          <%= f.label :dimensions, class: "w-150"%>
          <%= f.text_field :dimensions, class: "flex-item-1" %>
        </div>
        <div class="flex mx-1">
          <%= f.label :prix, class: "w-150"%>
          <%= f.text_field :prix, class: "flex-item-1" %>
        </div>
        <div class="flex mx-1">
          <label class="w-150">
            Catégorie
          </label>
          <div class="flex-item-1">
              <%= f.radio_button :categorie, "Huile" %>
              <%= f.label :categorie_huile, "Huile" %>
              <%= f.radio_button :categorie, "Acrylique" %>
              <%= f.label :categorie_acrylique, "Acrylique" %>
              <%= f.radio_button :categorie, "Aquarelle" %>
              <%= f.label :categorie_aquarelle, "Aquarelle" %>
          </div>
        </div>
        <div class="flex content-center mx-1">
          <%= f.check_box :disponible %>
          <%= f.label :disponible, "Disponible" %>
        </div>
        <div class="form-photo-align mx-1">
          <%= f.input :photo, input_html: {class: 'd-none hidden', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Changer de photo' %>
          <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
        </div>
        <%= f.button :submit, 'Ajouter', class: "form-button mx-1" %>
      <% end %>
    </div>
  </div>
</div>
