<div class="container">
  <div class="cards">
    <% @oeuvres.each do |oeuvre| %>
      <div class="card">
        <% if oeuvre.photo.attached? %>
          <%= cl_image_tag oeuvre.photo.key, width: 300 %>
        <% end %>
        <h2><%= oeuvre.nom %></h2>
        <div class="card-info">
          <p><%= oeuvre.categorie %></p>
          <p><%= oeuvre.prix %>€</p>
          <p><%= oeuvre.dimensions %></p>
        </div>
        <% if oeuvre.disponible %>
          <div class="badge badge-disponible">Disponible</div>
        <% else %>
          <div class="badge badge-vendu">Vendu</div>
        <% end %>
        <div class="card-icons">
          <%= link_to edit_oeuvre_path(oeuvre) do %>
            <i class="far fa-edit edit-button"></i>
          <% end %>
          <button id="sweet-alert-demo" class="btn btn-danger">
            <i class="far fa-trash-alt delete-button"></i>
          </button>
          <%= link_to "", destroy_oeuvre_path(oeuvre), method: :delete, id: "delete-link", class: "hidden" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
