<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Anna Mérimée</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>
    <meta charset="utf-8">
    <meta name="description" content="Découvrez les peintures en huile, acrylique et aquarelle de la peintre Anna Mérimée.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Anna Mérimée">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= image_url('promenade-1.jpg')%>">
    <meta property="og:description" content="Découvrez les peintures en huile, acrylique et aquarelle de la peintre Anna Mérimée.">
    <meta property="og:site_name" content="Anna Mérimée">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" if params[:action] == "dashboard" || params[:action] == "new" || params[:action] == "create"  %>
    <% if current_user %>
      <% unless params[:action] == "dashboard" %>
        <%= link_to "Admin", dashboard_path, class: "custom-button admin-button" %>
      <% end %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "custom-button logout-button" %>
    <% end %>
    <%= yield %>
    <% if !flash.empty? && flash[:error].present? %>
      <div class="alert">
        <% flash[:error].full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>
    <% if notice %>
      <div class="notice">
        <p><%= notice %></p>
      </div>
    <% end %>
  </body>
</html>
