<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Anna Mérimée</title>
    <meta name="description" content="Découvrez les peintures en huile, acrylique et aquarelle de la peintre Anna Mérimée.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Anna Mérimée">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= image_url('promenade-1.jpg')%>">
    <meta property="og:description" content="Découvrez les peintures en huile, acrylique et aquarelle de la peintre Anna Mérimée.">
    <meta property="og:site_name" content="Anna Mérimée">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" if params[:controller] == "oeuvres" %>
    <%= render "shared/admin_actions" %>
    <%= yield %>
    <%= render "shared/flashes" %>
  </body>
</html>
